# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# VS Code
.vscode/

# Dataset (optional)
datasets/

# OS files
.DS_Store
Thumbs.db